{% extends 'corecode/base.html' %}

{% block content %}
  <div class="row">
    {% for tutions in tution %}
    <div class="col-sm-6">

      <div class="card-image" style="background-image: url({{tutions.bg_image.url}})">
        <img src="{{tutions.logo.url}}" alt="..." class="rounded-circle"  width="140" height="140">
      <a href="{{ tutions.pk }}" >
        <div class="card text-white bg-secondary mb-3">
          <div class="card-header">{{tutions.name}}</div>
          <div class="card-body">
            <h5 class="card-title">{{tutions.slug}}</h5>
            <p class="card-text">{{tutions.discription|slice:255}}.</p>
          </div>
        </div></a>
      </div>
    </div>
	{% empty %}
    		<li>Add Institute Here <a href="{% url 'create' %}">Add</a>.</li>
      {% endfor %}
    </div>

{% endblock content %}
