{% extends 'corecode/base.html' %}
{% load widget_tweaks %}
{% block content %}

    {{ form.media }}

{% for field in form %}
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

<div class="form-group row">
  <label class="col-sm-3 col-form-label" for="{{ field.auto_id }}">
    {{ field.label }}
    {% for error in field.errors %}
      <small id="{{ field.auto_id }}" class="text-danger">{{ error }}</small>
    {% endfor %}
  </label>
  <div class="col-sm-9">
    {{ field.media }}
    {{ field | add_class:"form-control"}}
    {{ field.media }}
    {% if field.help_text %}
    <small>{{ field.help_text|safe }}</small>
    {% endif %}
  </div>
</div>
{% endfor %}

  {% if object %}
    <input type="submit" class="btn btn-primary" value="Update Video">
  {% else %}
    <input type="submit" class="btn btn-primary" value="Upload Video">
  {% endif %}
</form>


{% endblock content %}